// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav {
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline;
  padding: 0;
  margin: 0;
}